* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FBFBFB;
  overflow-x: hidden;
  color: #4D4D4D;
  font-size: 1.3rem;
}

#nav {
  background-image: url("../img/bigbg.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

footer {
  background-color: #130000;
  height: 200px;
}
footer p {
  text-align: center;
  color: white;
  padding: 80px 0;
}

.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar-nav {
  float: right;
}

#house {
  background-image: url("../img/housebg.png");
  background-repeat: repeat-x;
  background-size: 148px;
  height: 148px;
  width: 100%;
  margin-top: -78px;
  z-index: 3;
  position: relative;
}

#container {
  z-index: 2;
  width: inherit;
  background-color: #FBFBFB;
  position: relative;
  top: -70px;
  padding-top: 180px;
}

#title {
  width: 500px;
  position: fixed;
  top: 100px;
  left: 50px;
  z-index: 0;
}
#title > h1 {
  font-size: 120px;
  font-family: "Stardos Stencil", cursive;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px black;
}
#title > h1 > span {
  position: absolute;
  left: 380px;
  bottom: 0;
  font-size: 60px;
  color: fuchsia;
  font-family: "Yesteryear", cursive;
  letter-spacing: 5px;
  text-transform: lowercase;
  text-shadow: 2px 2px 3px black;
}

h2 {
  margin: 50px 0;
  text-align: left;
}

form#reservation {
  font-weight: bold;
  text-align: center;
}
form#reservation label {
  color: #F39F71;
  text-shadow: 0 0 2px #F39F71;
}
form#reservation > .row > .col-12 > .row > div > input {
  text-align: center;
  box-shadow: 2px 2px 3px lightgray;
}
form#reservation > .row > .col-12 > .row > div > input.form-control, form#reservation > .row > .col-12 > .row > div > input.btn {
  border-radius: 50px;
}
form#reservation > .row > .col-12 > .row > div > input#bedNumber {
  width: 80px;
  margin-right: 10px;
  display: initial;
}
form#reservation > .row > .col-12 > .row > div > input[type=submit] {
  font-weight: bold;
}
form#reservation > .row > .col-12 > .row > div > input[type=submit] {
  background-color: #F39F71;
  color: white;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 2px;
  left: 15px;
  right: 15px;
}

form#choice table {
  margin: 0 auto;
}
form#choice table input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin-left: 29px;
}
form#choice table td:first-of-type {
  width: 70px;
}
form#choice input[type=number] {
  background-color: #FBFBFB;
  width: 50px;
  border: none;
  margin: auto 10px;
  text-align: center;
  height: 20px;
  line-height: 30px;
}
form#choice input[type=number]::-webkit-inner-spin-button, form#choice input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
form#choice input[type=number]:focus {
  outline: none;
}

#userlog {
  margin-left: calc(100vw - 750px);
}
#userlog a {
  margin-left: 10px;
}

form#login input {
  width: 100%;
}

#latnivalok > .col-12 {
  text-align: justify;
  margin: 50px 0;
}
#latnivalok > .col-12 > p {
  margin: 10px;
}
#latnivalok > .col-12 > img {
  width: 500px;
  margin: 10px;
}
#latnivalok > .col-12:nth-of-type(odd) > img {
  float: left;
}
#latnivalok > .col-12:nth-of-type(even) > img {
  float: right;
}

#guests {
  display: none;
  margin: 10px 0 0 -20px;
  position: absolute;
  background-color: white;
  z-index: 3;
  width: 300px;
  box-shadow: 2px 2px 3px lightgray;
}
#guests > table {
  width: 300px;
  border: 1px solid lightgray;
  font-size: 17px;
  font-weight: normal;
}
#guests > table hr {
  margin: 0;
}
#guests #adultNumber, #guests #childNumber {
  width: 50px;
  margin: 5px;
  padding: 5px;
}

a {
  color: #F39F71;
}
a:hover {
  text-decoration: none;
  color: #f5bfa3;
}

@media (max-width: 850px) {
  #title {
    width: 500px;
  }
  #title > h1 {
    font-size: 80px;
  }
  #title > h1 > span {
    left: 300px;
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
