#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteOptions MaxRedirects=10
#RewriteRule ^(.*)controller/([^/]+)(/*)$ index.php?controller=home&action=$2 [L]
#
RewriteEngine On
RewriteRule ^iskolaphp/zarodolgozat/sparetimehotel/([^/\.]+)/([^/\.]+)?$ /iskolaphp/zarodolgozat/sparetimehotel/index.php?controller=$1&action=$2 [L]

#</IfModule>